<!--  Load static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This template has been downloaded from bootdey.com @bootdey on twitter -->
    <!-- Link: https://www.bootdey.com/snippets/view/notes-dashboard -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Notes - Card View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-content container note-has-grid">
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
        <li class="nav-item">
            <a href="{% url 'lab_4:index' %}" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active" id="all-category">
                <span class="d-none d-md-block">Table View</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'lab_4:note_list' %}" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active" id="all-category">
                <span class="d-none d-md-block">Card View</span>
            </a>
        </li>
        <li class="nav-item ml-auto">
            <a href="{% url 'lab_4:add_note' %}" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3" id="add-notes"> <span class="d-none d-md-block font-14">Add Notes</span></a>
        </li>
    </ul>
    <div class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            {% for note in notes %}
            <div class="col-md-4 single-note-item all-category">
                <div class="card card-body">
                    <h4 class="note-title text-truncate w-75 mb-0">{{ note.title }}</h4> 
                    <p class="note-person text-muted">To: {{ note.person_to }}</p>
                    <p class="note-person text-muted">From: {{ note.person_from }}</p>
                    <hr>
                    <div class="note-content">
                        <p class="note-inner-content text-muted">{{ note.message }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<link href="{% static 'css/card_style.css' %}" rel="stylesheet" type="text/css">

</body>
</html>