body {
    background: #edf1f5;
    margin-top: 20px;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
  }
  .card {
    margin-bottom: 30px;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
  }
  
  .note-has-grid .nav-link {
    padding: 0.5rem;
  }
  
  .note-has-grid .single-note-item .card {
    border-radius: 10px;
  }
  
  .note-table-header {
    font-size: large;
  }
  
  .note-table-data {
    font-size: medium;
  }
  
  .note-has-grid .single-note-item {
    max-width: 100%;
  }
  
  .note-has-grid .single-note-item {
    max-width: 100%;
  }
  
  /* Set border for table */
  table, th, td {
      border: 1px solid black;
  }
  
  /* Set alignment and padding for text inside table */
  th, td {
      padding: 5px;
      text-align: left;
  }
  
  /* To make zebra-striped table style */
  tr:nth-child(even) {background-color: #f2f2f2;}
  