<!--  Load static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This template has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  Link: https://www.bootdey.com/snippets/view/notes-dashboard -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Notes - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  Import jQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--  Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="page-content container note-has-grid">
        <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
            <li class="nav-item">
                <a href="javascript:void(0)"
                    class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active"
                    id="all-category">
                    <span class="d-none d-md-block">All Notes</span>
                </a>
            </li>
            <li class="nav-item ml-auto">
                <a href="javascript:void(0)" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3"
                    id="add-notes"> <span class="d-none d-md-block font-14">Add Notes</span></a>
            </li>
        </ul>
        <div class="tab-content bg-transparent">
            <div id="note-full-container" class="note-has-grid row">
                <div class="col-xl-12 single-note-item all-category">
                    <div class="card card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th class="note-table-header text-truncate mb-0">To</th>
                                    <th class="note-table-header text-truncate mb-0">From</th>
                                    <th class="note-table-header text-truncate mb-0">Title</th>
                                    <!-- <th class="note-table-header text-truncate mb-0">Message</th> -->
                                    <th class="note-table-header text-truncate mb-0">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-body" id="tablebody"></tbody>
                            <!-- Script in view_note.js -->
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add modal files -->
        {% include 'add_modal.html' %}
        {% include 'view_modal.html' %}
    </div>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'js/view_note.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
</body>

</html>