body {
  background: #edf1f5;
  margin-top: 20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.card {
  margin-bottom: 30px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.57rem;
}

.note-has-grid .nav-link {
  padding: 0.5rem;
}

.note-has-grid .single-note-item .card {
  border-radius: 10px;
}

.note-title {
  padding-bottom: 10px;
}

.note-person {
  margin: 0;
  padding: 0;
  font-size: medium;
}

@media (max-width: 767.98px) {
  .note-has-grid .single-note-item {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .note-has-grid .single-note-item {
    max-width: 216px;
  }
}
